.asl_custom_t .h3{
    text-align: center;
    font-family: "PT Serif", Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    margin: 1.5em 0 .5em;
    word-wrap: break-word;
}
.asl_custom_t{
    text-align: left;
}
.entry-content .plus ul > li:before{
    background: #4AAE4E;
}
.entry-content .minus ul > li:before{
    background: #aa0511;
}
.gray_table{
    background-color: #dedede;
    padding: 20px 40px;
    margin-bottom: 20px;

}
.gr_color ul li::before{
    background: #ffffff!important;
}
.gr_color{
    color: #ffffff;
    display: block;
    border-radius: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.86%, rgba(0, 0, 0, 0.4) 129.29%), linear-gradient(203.19deg, #F57C00 -0.01%, #EB00FF 115.47%);
}
.p_bd{
	border: 6px solid #62000F;
	margin: 30px auto;
	padding: 25px;
    display: inline-block;
    width: 100%;
}
.nc_bd{
    border-color: #f75e4f;
}

.ng_bd {
    border-color: rgba(232, 208, 218, 0.89);
    /* IE9, iOS 3.2+ */
    /*border-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNjY2NjZmYiIHN0b3Atb3BhY2l0eT0iMC44IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZWZkMWQxIiBzdG9wLW9wYWNpdHk9IjAuODUiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2VmZDFkMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlZmQxZDEiIHN0b3Atb3BhY2l0eT0iMC44NSIgb2Zmc2V0PSIwLjgiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2NjY2ZmIiBzdG9wLW9wYWNpdHk9IjAuOCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);*/
    border-image:linear-gradient(-45deg, rgba(204,204,255,1) 0%,rgba(255,209,209,1) 100%);
        /* Android 2.3 */
    border-image: -webkit-repeating-linear-gradient(top left,rgba(204, 204, 255, 0.8) 0%,rgba(239, 209, 209, 0.85) 20%,rgb(239, 209, 209) 50%,rgba(239, 209, 209, 0.85) 80%,rgba(204, 204, 255, 0.8) 100%);
    /* IE10+ */
    border-image: repeating-linear-gradient(to bottom right,rgba(204, 204, 255, 0.8) 0%,rgba(239, 209, 209, 0.85) 20%,rgb(239, 209, 209) 50%,rgba(239, 209, 209, 0.85) 80%,rgba(204, 204, 255, 0.8) 100%);
    border-image: -ms-repeating-linear-gradient(top left,rgba(204, 204, 255, 0.8) 0%,rgba(239, 209, 209, 0.85) 20%,rgb(239, 209, 209) 50%,rgba(239, 209, 209, 0.85) 80%,rgba(204, 204, 255, 0.8) 100%);
    border-image-slice: 1;

}

.p_bg{
	background-color: #62000F; 
	margin: 15px auto;
	padding: 15px; 
	color: #fff;
    width: 100%;
    display: inline-block;
}
.nc_bg{
    background: #f75e4f;
}
.ng_bg{
    color: #000000;
    background-color: rgba(232, 208, 218, 0.89);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNjY2NjZmYiIHN0b3Atb3BhY2l0eT0iMC44IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZWZkMWQxIiBzdG9wLW9wYWNpdHk9IjAuODUiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2VmZDFkMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlZmQxZDEiIHN0b3Atb3BhY2l0eT0iMC44NSIgb2Zmc2V0PSIwLjgiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2NjY2ZmIiBzdG9wLW9wYWNpdHk9IjAuOCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgba(204, 204, 255, 0.8)),color-stop(0.2, rgba(239, 209, 209, 0.85)),color-stop(0.5, rgb(239, 209, 209)),color-stop(0.8, rgba(239, 209, 209, 0.85)),color-stop(1, rgba(204, 204, 255, 0.8)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgba(204, 204, 255, 0.8) 0%,rgba(239, 209, 209, 0.85) 20%,rgb(239, 209, 209) 50%,rgba(239, 209, 209, 0.85) 80%,rgba(204, 204, 255, 0.8) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgba(204, 204, 255, 0.8) 0%,rgba(239, 209, 209, 0.85) 20%,rgb(239, 209, 209) 50%,rgba(239, 209, 209, 0.85) 80%,rgba(204, 204, 255, 0.8) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgba(204, 204, 255, 0.8) 0%,rgba(239, 209, 209, 0.85) 20%,rgb(239, 209, 209) 50%,rgba(239, 209, 209, 0.85) 80%,rgba(204, 204, 255, 0.8) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .ng_bg {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccccccff",endColorstr="#ccccccff",GradientType=0);
    }
}


.plus, .minus{
    width: 50%;
    vertical-align: baseline;
}

@media screen and (max-width: 768px){
    body article .asl_custom_t {
        display: table;
    }
    
}

@media screen and (max-width: 480px){
    .asl_custom_t  td{
        display: block;
        width: 100%;
        padding: 7px 25px;
    }
    
}


.table-container{
    display: flex;
    justify-content: space-between;
}

.table-item{
    border: 1px solid rgba(34,36,38,.15);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table-item:last-child{
    border-left: 0;
}
.content_plus ul li::before{
    background: #4AAE4E;
}
.content_minus ul li::before{
    background: #aa0511;
}
.horizontal_item{
    background-color: #dedede;
    padding: 20px 40px;
    margin-bottom: 20px;

}
@media screen and (max-width: 480px){
    .table-item{
        width: 100%;
    }
    .table-container{
        flex-direction: column;
    }
}